@import url('https://fonts.googleapis.com/css?family=Lobster');
body, html {
  height: 100%;
  margin: 0;
}

#Home {
  /* The image used */
  background-image: url("../src/imgs/homescreen2.jpg");

  /* Full height */
  height: 100vh; 
  width: 100vw;
  font-size: large;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#About {
  height: 100vh;
  width: 100vw;
  color: "black";
  font-size: "20px";
  background-color: whitesmoke;
}
.mainTitle{
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
    color: #ff375f;
    font-family: 'Quicksand', sans-serif;
    padding: 5px;
}
.componentSection {
      width: 960px;
      padding: 15px;
      margin: 0 auto;
      font-size: 20px;
      color: black;
      border-top: 8px solid black;
      border-bottom: 8px solid black;
      font-family: 'Quicksand', sans-serif;
      background-color: white;
}
.innerSliderContainer {
  width: 90%;
  display: inline-block;
  margin: 5rem 0;
}
.skills{
  display: flex;
}
.skillSection1 {
  width: 50%;
  text-align: left;
  display: inline-block;
  padding-left: 10rem;
}

.skillSection2 {
  width: 50%;
  text-align: left;
  display: inline-block;
  padding-left: 10rem;
}

#highlighted
{
  color: #ff375f;
  font-weight: bold;
}
#bigger {
  font-size: 40px;
}
.overlay{
  background: rgba(39,62,84,0.82);
  overflow: hidden;
  height: 100%;
  z-index: 2;
}
.centered {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}
.homeText {
  text-align: center;
  color: white;
  font-weight: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 150px;
}
.subText {
  text-align: center;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 60px;
}
#redText {
  color: #ff375f;
}
.navItemButton {
  color: rgb(107, 218, 255);
  background-color: "none";
  font-family: "Quicksand', sans-serif";
  border: none;
  font-size: 18px;
  height: 100%;
}
.skillsList{
  list-style-type: disc;
}
/*CONTACT ME*/
#Contact{
  height: 100vh;
  width: 100vw;
  background-image: url("../src/imgs/aboutme.png");
  color: "white";
  font-size: "20px";

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.formContainer {
  padding-top: 3rem;
  padding-bottom: 2rem;
  border-top: 10px solid #ff375f;
  max-width:960px; margin:0 auto; 
}
.contactButtons {
  margin: 0 auto;
  height: 100px;
  width: 400px;
  color: white;
  font-size: 20px;
  text-align: center;
  display:flex;
}
.fontAwesomeButton{
  display: inline-block;
  margin-right: 5rem;
  color: white;
  background: transparent;
  border: none;
}
.fontAwesomeButton:hover{
  color: #ff375f;
  cursor: pointer;
  text-decoration: none;
}
.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid white;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #ff375f; }
.feedback-input::placeholder { color:white; }
textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  border-radius: 5px;
  background: transparent;
  color: white;
  border: 2px solid white;
  cursor:pointer;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#ff375f; color: white; border: 2px solid #ff375f;}

/*PROJECTS*/
#Projects{
  height: 100vh;
  width: 100vw;
  background: whitesmoke;
  color: "white";
  font-size: "20px";

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slick-prev:before, .slick-next:before {
  color: black !important;
}
.githubPlug {
  margin-top: 30px;
  font-family: 'Quicksand', sans-serif;
}
.githubPlug a {
  color: #ff375f;
}
.githubPlug a:hover {
  font-weight: bold;
  text-decoration: none;
  color: #ff375f;
}
.projbutton{
  border: 2px solid #ff375f;
  color: #ff375f !important;
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  cursor:pointer;
  background: transparent;
  text-align: center;
  border-radius: 5px;
  transition: all 0.3s;
  margin: 5px;
  padding: 5px;
}
.projbutton:hover{
  background:#ff375f; color: white !important; border: 2px solid #ff375f;
  text-decoration: none;
}
.projbutton:focus{
  background:#ff375f; color: white !important; border: 2px solid #ff375f;
  text-decoration: none;
}
.card {
  width: 24rem;
  display: inline-block;
  height: 40rem;
  margin: 0 auto; 
}
.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253) !important;
}
.card-body{
  font-size: 0.9rem;
  padding: 3rem 0 !important;
}

.innerSliderContainer {
  width: 90%;
  display: inline-block;
  margin: 2rem 0;
}
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
  transform: scale(1);
  transition: transform 0.5s ease;
}
.overflow{
  overflow: hidden;
}
.card-img-top:hover {
  transform: scale(1.8);
}

/*NAVBAR*/
.navColor {
  background-color: white;
}
.navItem {
  padding-right: 2rem;
  padding-left: 2rem;
}
.navItem:hover{
  color :#ff375f !important
}
.navItem:focus{
  color :#ff375f !important;
}
/* ************************************************************************* I-PAD **********************************************************************/
@media screen and (max-width: 992px) {
  /*------------------------HOME--------------------------*/
  .homeText {
    text-align: center;
    color: white;
    font-weight: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 55px;
  }
  .subText {
    text-align: center;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
  }
  /*------------------------ABOUT--------------------------*/
  .mainTitle{
    margin: 0 auto;
    text-align: center;
    font-size: 35px;
    color: #ff375f;
    font-family: 'Quicksand', sans-serif;
    padding: 3px;
  }
  #bigger {
    font-size: 30px;
  }
  .componentSection {
    width: 550px;
    padding: 6px;
    margin: 0 auto;
    font-size: 14px;
    color: black;
    border-top: 6px solid black;
    border-bottom: 6px solid black;
    font-family: 'Quicksand', sans-serif;
    background-color: white;
  }
  .skillSection1 {
    width: 50%;
    text-align: left;
    display: inline-block;
    padding-left: 5rem;
  }
  
  .skillSection2 {
    width: 50%;
    text-align: left;
    display: inline-block;
    padding-left: 5rem;
  }
   /*-----------------------------PROJECTS----------------------------------*/
   .card {
    width: 26rem;
    display: inline-block;
    height: 32rem;
    margin: 0 auto; 
  }
  .card:hover {
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253) !important;
  }
  .card-body{
    font-size: 0.8rem;
    padding: 2rem 0 !important;
  }
  .card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
    transform: scale(1);
    transition: transform 0.5s ease;
  }
  .card-title {
    font-size: 18px;
  }
  .projbutton{
    border: 2px solid #ff375f;
    color: #ff375f !important;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    cursor:pointer;
    background: transparent;
    text-align: center;
    border-radius: 5px;
    transition: all 0.3s;
    padding: 3px;
  }
  .githubPlug {
    margin-top: 25px;
    font-family: 'Quicksand', sans-serif;
  }
   /*-----------------------------CONTACT----------------------------------*/
   #Contact{
    height: 100vh;
    width: 100vw;
    background-image: url("../src/imgs/aboutme.png");
    color: "white";
    font-size: "20px";
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  .formContainer {
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-top: 7px solid #ff375f;
    max-width:800px; margin:0 auto; 
  }
  .contactButtons {
    margin: 0 auto;
    height: 60px;
    width: 40%;
    color: white;
    font-size: 18px;
    text-align: center;
    display:flex;
  }
  .fontAwesomeButton{
    display: inline-block;
    margin-right: 5rem;
    color: white;
    background: transparent;
    border: none;
  }
  .fontAwesomeButton:hover{
    color: #ff375f;
    cursor: pointer;
    text-decoration: none;
  }
  .feedback-input {
    color:white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    border-radius: 4px;
    line-height: 20px;
    background-color: transparent;
    border:2px solid white;
    transition: all 0.3s;
    padding: 12px;
    margin-bottom: 14px;
    width:90%;
    box-sizing: border-box;
    outline:0;
  }
  
  .feedback-input:focus { border:2px solid #ff375f; }
  .feedback-input::placeholder { color:white; }
  textarea {
    height: 100px;
    line-height: 100%;
    resize:vertical;
  }
  
  [type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 90%;
    border-radius: 3px;
    background: #ff375f;
    color: white;
    border: 2px solid #ff375f;
    cursor:pointer;
    font-size:18px;
    padding-top:6px;
    padding-bottom:6px;
    transition: all 0.3s;
    margin-top:-3px;
    font-weight:500;
  }
  [type="submit"]:hover { background:#ff375f; color: white; border: 2px solid white;}
}

/* Height less than 900px PLUS (WIDTH ----> No greater than 2400px, no less than 993px) */
@media (max-height: 900px) and (max-width:2400px) and (min-width:993px) {
  .homeText {
    font-size: 90px;
  }
  .subText {
    font-size: 40px;
  }
  .mainTitle{
    margin: 0 auto;
    text-align: center;
    font-size: 35px;
    color: #ff375f;
    font-family: 'Quicksand', sans-serif;
    padding: 1px;
  }
  #bigger {
    font-size: 25px;
  }
  .componentSection {
    padding: 5px;
    margin: 0 auto;
    font-size: 18px;
    color: black;
    border-top: 6px solid black;
    border-bottom: 6px solid black;
    font-family: 'Quicksand', sans-serif;
    background-color: white;
  }
  .card {
    width: 22rem;
    display: inline-block;
    height: 35rem;
    margin: 0 auto; 
  }
  .card-title {
    font-size: 18px;
  }
  .card:hover {
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253) !important;
  }
  .card-body{
    font-size: 0.75rem;
    padding: 2rem 0 !important;
  }
  
  .innerSliderContainer {
    width: 90%;
    display: inline-block;
    margin: 1rem 0;
  }
  .card-img-top {
    width: 100%;
    height: 13vw;
    object-fit: cover;
    transform: scale(1);
    transition: transform 0.5s ease;
  }
  .overflow{
    overflow: hidden;
  }
  .card-img-top:hover {
    transform: scale(1.8);
  }

}
/* Height less than 700px PLUS (WIDTH ----> No greater than 2400px, no less than 993 px) */
@media (max-height: 700px) and (max-width:2400px) and (min-width:993px) {
  .homeText {
    font-size: 90px;
  }
  .subText {
    font-size: 40px;
  }
  .mainTitle{
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    color: #ff375f;
    font-family: 'Quicksand', sans-serif;
    padding: 1px;
  }
  
  #bigger {
    font-size: 20px;
  }
  .componentSection {
    padding: 5px;
    margin: 0 auto;
    font-size: 14px;
    color: black;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    font-family: 'Quicksand', sans-serif;
    background-color: white;
  }
  .card {
    width: 22rem;
    display: inline-block;
    height: 28rem;
    margin: 0 auto; 
  }
  .card-title {
    font-size: 14px;
  }
  .card:hover {
    box-shadow: 4px 9px 19px 1px rgba(0,0,0,0.253) !important;
  }
  .card-body{
    font-size: 0.70rem;
    padding: 2rem 0 !important;
  }
  
  .innerSliderContainer {
    width: 90%;
    display: inline-block;
    margin: 1rem 0;
  }
  .card-img-top {
    width: 100%;
    height: 13vw;
    object-fit: cover;
    transform: scale(1);
    transition: transform 0.5s ease;
  }
  .projbutton{
    border: 2px solid #ff375f;
    color: #ff375f !important;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    cursor:pointer;
    background: transparent;
    text-align: center;
    border-radius: 4px;
    transition: all 0.3s;
    padding: 3px;
  }
  .githubPlug {
    margin-top: 15px;
    font-family: 'Quicksand', sans-serif;
  }
  .overflow{
    overflow: hidden;
  }
  .card-img-top:hover {
    transform: scale(1.8);
  }

}
/***************************************************************************1500 BELOW **********************************************************************/
@media screen and (max-width: 1500px) {
  .homeText {
    font-size: 90px;
  }
  .subText {
    font-size: 40px;
  }
  
}
/* *************************************************************************P H O N E S**********************************************************************/
@media screen and (max-width: 600px) {
  /*------------------------HOME--------------------------*/
  .homeText {
    text-align: center;
    color: white;
    font-weight: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
  }
  .subText {
    text-align: center;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
  }
  /*------------------------ABOUT--------------------------*/
  .mainTitle{
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
    color: #ff375f;
    font-family: 'Quicksand', sans-serif;
    padding: 2px;
  }
  #bigger {
    font-size: 20px;
  }
  .componentSection {
    width: 450px;
    padding: 5px;
    margin: 0 auto;
    font-size: 12px;
    color: black;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    font-family: 'Quicksand', sans-serif;
    background-color: white;
  }
  .skillSection1 {
    width: 50%;
    text-align: left;
    display: inline-block;
    padding-left: 3rem;
  }
  
  .skillSection2 {
    width: 50%;
    text-align: left;
    display: inline-block;
    padding-left: 3rem;
  }
   /*-----------------------------PROJECTS----------------------------------*/
  .card {
    width: 20rem;
    display: inline-block;
    height: 24rem;
    margin: 0 auto; 
  }
  .card:hover {
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253) !important;
  }
  .card-body{
    font-size: 0.7rem;
    padding: 2rem 0 !important;
  }
  .card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
    transform: scale(1);
    transition: transform 0.5s ease;
  }
  .card-title {
    font-size: 18px;
  }
  .projbutton{
    border: 2px solid #ff375f;
    color: #ff375f !important;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    cursor:pointer;
    background: transparent;
    text-align: center;
    border-radius: 5px;
    transition: all 0.3s;
    padding: 3px;
  }
  .githubPlug {
    margin-top: 20px;
    font-family: 'Quicksand', sans-serif;
  }
   /*-----------------------------CONTACT----------------------------------*/
   #Contact{
    height: 100vh;
    width: 100vw;
    background-image: url("../src/imgs/aboutme.png");
    color: "white";
    font-size: "20px";
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  .formContainer {
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-top: 6px solid #ff375f;
    max-width:580px; margin:0 auto; 
  }
  .contactButtons {
    margin: 0 auto;
    height: 40px;
    width: 65%;
    color: white;
    font-size: 15px;
    text-align: center;
    display:flex;
  }
  .fontAwesomeButton{
    display: inline-block;
    margin-right: 5rem;
    color: white;
    background: transparent;
    border: none;
  }
  .fontAwesomeButton:hover{
    color: #ff375f;
    cursor: pointer;
    text-decoration: none;
  }
  .feedback-input {
    color:white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    border-radius: 3px;
    line-height: 18px;
    background-color: transparent;
    border:2px solid white;
    transition: all 0.3s;
    padding: 10px;
    margin-bottom: 12px;
    width:90%;
    box-sizing: border-box;
    outline:0;
  }
  
  .feedback-input:focus { border:2px solid #ff375f; }
  .feedback-input::placeholder { color:white; }
  textarea {
    height: 100px;
    line-height: 100%;
    resize:vertical;
  }
  
  [type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 90%;
    border-radius: 3px;
    background: #ff375f;
    color: white;
    border: 2px solid #ff375f;
    cursor:pointer;
    font-size:18px;
    padding-top:6px;
    padding-bottom:6px;
    transition: all 0.3s;
    margin-top:-3px;
    font-weight:500;
  }
  [type="submit"]:hover { background:#ff375f; color: white; border: 2px solid white;}
}

